@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  /* --color-primary: #27B43E; */
  --color-primary: #80A867;
  --color-secondary: #E3FF73;
  --color-tertiary: #616161;
  --color-text: #414141;
}